button.nav-link {
  background: light-gray;
  border-radius: 0;
  border: none;

  &:focus {
    outline: none;
  }

  &.active:hover {
    color: #fff;
  }

  & :active {
    outline: none;
  }

  &.active:focus {
    outline: none;
  }
}
