:host ::ng-deep button {
  margin-right: .25em;
}

:host ::ng-deep .ui-message,
:host ::ng-deep .ui-inputtext {
  margin-right: .25em;
}

:host ::ng-deep .custom-message,
:host ::ng-deep img {
  align-self: center;
  font-size: 16px;
  margin-left: .5em;
}
