<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <div class="p-1 bd-highlight">
    <h5 class="my-0 mr-md-auto font-weight-normal" [routerLink]="['/']">Company name</h5>
  </div>
  <div class="p-1 bd-highlight">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="p-2" [routerLink]="['/']" routerLink="active"> Home</a>
      <a class="p-2" [routerLink]="['/shop']" routerLink="active">Shop</a>
      <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
  </div>
  <div class="p-1 bd-highlight">
    <div class="d-flex align-items-center">
      <a routerLink="/cart" class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div *ngIf="(cart$ | async) as cart" class="cart-no">{{cart.cartItems.length}}</div>
      </a>

      <ng-container *ngIf="(currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-outline-secondary mr-3" href="#">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary mr02">Sign up</a>
      </ng-container>
      <ng-container *ngIf="currentUser$ | async">
        <a href="#"><strong>Welcome {{ (currentUser$ |async).displayName }} </strong></a>
      </ng-container>

    </div>
  </div>
</div>

<!-- [routerLinkActiveOptions]="{exact: true}" -->
