.cart-no {
  position: absolute;
  min-height: 15px;
  min-width: 22px;
  border-radius: 100%;
  font-size: 1em;
  font-weight: 500;
  background: blue;
  color: white;
  text-align: center;
  top: -8px;
  right: 40px;
  padding: 2px;
}
